<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Article list') %></h1>
  </div>
  <div class="main container clearfix">
      <h1><%= article.title %></h1>
      <hr>
      <h2><%= article.description %></h2>
    <div class="text-right">
      <a href="/">Back to article list</a>
    </div>
  </div>
</div>
